.wrapper {
    margin-right: auto;
    margin-left: auto;
    max-width: 960px;
    padding-right: 10px;
    padding-left: 10px;
}

body {
    background-image: url("../images/bg.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    /* background: #d23436; */
    color: #b1b1b1;
    font-family: "Roboto Mono", "Consolas", monospace;
}

.panel {
    font-family: "Roboto Mono", "Consolas", monospace;
    font-size: 1.0em;
    text-align: center;
    margin: auto;
    background: #000000;
    box-shadow: 0px 0px 30px #000;
    border-radius: 10px;
    padding: 50px;
    margin-top:25px;
}

.footer {
    text-align: center;
    margin: 20px auto;
}

span.header {
    font-size: 20px;
}

.social-media {
    margin-top: 30px;
    text-align: right;
    display: block;
}

a,
a:hover,
a:visited {
    color: #fff;
}

a:hover {
    background-color: #c09e5c;
}

.highlighted {
    color: #fff;
    background-color: #b84444;
}

.highlighted-yellow {
    color: #fff;
    background-color: #c09e5c;
}

.panel ul {
    display: inline-block;
    text-align:left;
    margin: 0 auto; 
    list-style-type: decimal;
}


img {
    margin-top: 25px;
    border-radius: 20px;
    width: 100%;
    height: auto;
}

div.sponsors {
    display: flex;
    align-items: center;
}

.mouflons {
    height: 128px;
}

.mouflons img {
    height: 100px;
    width:100px;
}

@media (max-width: 500px) {

    div.sponsors {
        flex-direction: column;
    }
  
}
